<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.lv.dao.OrderDao">

    <insert id="insertOneOrder" keyProperty="o_id" parameterType="order" useGeneratedKeys="true">

    INSERT INTO t_order(phone,oStatus,createTime,u_id,address,money,payMethod) VALUES
(
#{phone},#{oStatus},#{createTime},#{u_id},#{address},#{money},#{payMethod}
)
</insert>



</mapper>